body {
	background: white;
	font-family: helvetica, arial, sans-serif;
}

#frame_headline {
}

#pwsafe-web-headline {
	float: left;
	width: 59;
}

#pwsafe-web-master_password-query {
	float: right;
	width: 39%;
	margin-top: 20px;
}

#pwsafe-web-error {
	clear: both;
}

#frame_main {
}

#pwsafe-web-list {
	float:left;
	width:38%;
	border: 1px dotted black;
}

#pwsafe-web-list li.file {
	color: #0000cc;
	list-style: circle;
}

#pwsafe-web-list li.group {
	color: #cccc00;
	list-style: disc;
}

#pwsafe-web-list li.password {
	color: #00cc00;
	list-style: square;
}

#pwsafe-web-list a {
	text-decoration: none;
	color: #000000;
}

#pwsafe-web-list a:hover {
	text-decoration: underline;
}


#pwsafe-web-details {
	float:right;
	width:58%;
}

.error {
	border: 1px solid red;
	padding: 2px;
	color: #cc0000;
	background: #ffcccc;
}

