body {
	font-family: helvetica, arial, sans-serif;
	margin: 2px;
	padding: 0;
}

#web-safe-headline {
	float: left;
	margin: 0;
	padding: 0;
	width: 37%;
}

#web-safe-master_password-query {
	float: right;
	text-align:right;
	width: 60%;
	margin-top: 15px;
	padding-right: 20px;
}

#web-safe-error {
	float:right;
	border: 1px solid red;
	margin: 4px;
	padding: 2px;
	color: #cc0000;
}

#web-safe-list {
	float:left;
	border: 1px dotted black;
	padding: 0px;
	overflow: auto;
}

#web-safe-list ul {
	margin-left: 1em;
	padding-left: 1em;
}

#web-safe-list li.file {
	color: #0000cc;
	list-style: circle;
}

#web-safe-list li.group {
	color: #cccc00;
	list-style: disc;
}

#web-safe-list li.password {
	color: #00cc00;
	list-style: square;
}

#web-safe-list a {
	text-decoration: none;
	color: #000000;
}

#web-safe-list a:hover {
	text-decoration: underline;
}


#web-safe-details {
	float:right;
}

#web-safe-debug {
	float:right;
}
